<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Exo+2:wght@800&family=Gemunu+Libre:wght@800&family=Lato:ital,wght@0,300;1,400&display=swap"
    rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS</title>
</head>
<body>
    <div id="container">
        <header>
            <h1>⚛️¿Qué es NODEJS?⚛️</h1>
        </header>
    </div>
    <img class="icono" src="https://media4.giphy.com/media/kdFc8fubgS31b8DsVu/giphy.gif" alt="gif">
    <p id="concepto">Node.js es un entorno controlado por eventos diseñado para crear aplicaciones escalables, permitiéndote establecer y gestionar múltiples conexiones al mismo tiempo. Gracias a esta característica, no tienes que preocuparte con el bloqueo de procesos, pues no hay bloqueos.</p>
    <section id="content">
        <article class="article">
            <h2> Para tener en cuenta</h2>
            <p> Node.js es a veces malinterpretado por los desarrolladores como un framework de backend que se utiliza exclusivamente para construir servidores.Este no es el caso; Node.js puede utilizarse tanto en el frontend como en el backend. La naturaleza de los frameworks Node.js, basada en eventos y sin bloqueos, es una de las razones por las que es una opción popular para los desarrolladores que diseñan un backend flexible y escalable. </p>
        </article>
    </section>
    
</body>
</html>
