<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&family=Lato:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
<div class="container">

    <h1>DESARROLLADORES</h1>

    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="../assets/images/sergato.jpg" class="card-img-top" alt="perfilsergio">
            <div class="card-body">
                <h5 class="card-title">Sergio Armando Urquiza Trujillo</h5>
                <p class="card-text">Estudiante de Ingeniería de Sistemas encargado del frot-end </p>
                <a href="https://github.com/sergito1x" target="_BLANK" class="btn btn-primary">Perfil GitHub</a>
            </div>
        </div>   
        <div class="card" style="width: 18rem;">
            <img src="../assets/images/caicegod.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Juan Esteban Caicedo Pardo</h5>
                <p class="card-text">Estudiante de Ingeniería de Sistemas encargado del frot-end</p>
                <a href="https://github.com/juancai0104/" target="_BLANK" class="btn btn-primary">Perfil GitHub</a>
            </div>
        </div> 
        <div class="card" style="width: 18rem;">
            <img src="../assets/images/estiben.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Steven Alexander Correa del Castillo</h5>
                <p class="card-text">Estudiante de Ingeniería de Sistemas encargado del back-end</p>
                <a href="https://github.com/Aegisystem/" target="_BLANK" class="btn btn-primary">Perfil GitHub</a>
            </div>
        </div> 
    </div>
    
</div>


