<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Exo+2:wght@800&family=Gemunu+Libre:wght@800&family=Lato:ital,wght@0,300;1,400&display=swap"
    rel="stylesheet">

<!DOCTYPE html>
<html lang="en">

<body>
    <div id="container">

        <header>
            <h1>¿Qué es Angular?</h1>
        </header>
    </div>

    <img class="icono"  src="../assets/images/angular_icon.png" alt="png">
</body>

</html>