h1{
    font-family: 'Exo 2', sans-serif;
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 75px;
    text-align: center;
}
.icono {
    
    margin-right: 4px;
    float: left;
    width: 20%;
    height: 20%;
    
}