<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Exo+2:wght@800&family=Gemunu+Libre:wght@800&family=Lato:ital,wght@0,300;1,400&display=swap"
    rel="stylesheet">


    <div class="container">
        <h1>¿Qué es Express.js?</h1>
        <img src="../assets/images/logoExpress1.png" class="rounded mx-auto d-block" alt="logo Express.js">
        <p class="concepto">
            Es un marco de aplicación web de código abierto para Node.js. Express se encarga de la parte back-end con la conexión a MongoDB.
        </p>
        <figure class="text-center">
            <blockquote class="blockquote">
              <p>Es una infraestructura básica mínima extensible con innumerables complementos.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              <cite title="Source Title">TJ Holowaychuk</cite>
            </figcaption>
        </figure>
        <p class="concepto">
            Debido a ese minimalismo, se encuentran paquetes de middleware compatibles para solucionar cualquier problema de desarrollo web.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Historia de Express.js</h2>
                        <div id="content">
                            <ul class="timeline">
                                <li class="event background" data-date="2010">
                                    <h3>Creación y lanzamiento</h3>
                                    <img src="../assets/images/v-1.png" class="img-thumbnail"
                                        alt="Express GitHub">
                                    <p class="">En enero se comenzó a trabajar para lanzar su versión 1.0.0 en noviembre.</p>
                                </li>
                                <li class="event" data-date="2007">
                                    <h3>10gen</h3>
                                    <img src="../assets/images/10gen.png" class="img-thumbnail" alt="logo de 10gen">
                                    <p>
                                        Dwight Merriman, Eliot Horowitz y Kevin Ryan fundan 10gen para construir una
                                        PaaS.
                                    </p>
                                </li>
                                <li class="event" data-date="2009">
                                    <h3>Lanzamiento</h3>
                                    <ul>
                                        <li>Febrero: MongoDB 1.0 con funciones básicas.</li>
                                        <li>Diciembre: MongoDB 1.2 con procesamiento de datos a gran escala.</li>
                                        <li>Servicios de soporte y capacitación.</li>
                                        <li>Reconocimiento de la marca.</li>
                                    </ul>
                                </li>
                                <li class="event" data-date="2010">
                                    <h3>Versiones 1.4 y 1.6</h3>
                                    <ul>
                                        <li>Marzo: MongoDB 1.4 con creación de índices en segundo plano</li>
                                        <li>Agosto: MongoDB 1.6 con fragmentación para producción con escalabilidad
                                            horizontal</li>
                                    </ul>
                                </li>
                                <li class="event" data-date="2012">
                                    <h3>Crecimiento</h3>
                                    <img src="../assets/images/mongoDB2.2.webp" class="img-thumbnail"
                                        alt="escalabilidad horizontal">
                                    <ul>
                                        <li>Aumento de empleados y oficinas con soporte 24/7</li>
                                        <li>MongoDB 2.2 con ueva colección de productos de suscripción</li>
                                    </ul>
                                </li>
                                <li class="event" data-date="2013">
                                    <h3>Reforzando</h3>
                                    <ul>
                                        <li>La organización cambia su nombre 10gen a MongoDB Inc.</li>
                                        <li>250 empleados y 1000 clientes</li>
                                        <li>Marzo: MongoDB 2.4 con el motor V8 de Google.</li>
                                        <li>Adquisición de WiredTiger</li>
                                    </ul>
                                </li>
                                <li class="event" data-date="2015">
                                    <h3>Almacenamiento</h3>
                                    <img src="../assets/images/mongoDB30.png" class="img-thumbnail" alt="MongoDB 3.0">
                                    <ul>
                                        <li>Marzo: MongoDB 3.0 con nuevo motor de almacenamiento</li>
                                        <li>MongoDB versio 3.2</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


